plugin/soap/testdata/wsdl1-soap12/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="PetService" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="urn:com:example:petstore"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             targetNamespace="urn:com:example:petstore">

    <documentation>
        This is a sample WSDL 1.1 document describing the pet service.
        It has SOAP 1.2 bindings, uses the Document style, with messages
        specifying an XML schema element.
    </documentation>

    <!-- Abstract type -->
    <types>
        <!-- imported schema -->
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns="urn:com:example:petstore"
                   targetNamespace="urn:com:example:petstore">

            <xs:complexType name="petType">
                <xs:all>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="name" type="xs:string"/>
                </xs:all>
            </xs:complexType>

            <xs:complexType name="fault">
                <xs:all>
                    <xs:element name="code" type="xs:int" />
                    <xs:element name="description" type="xs:string" />
                </xs:all>
            </xs:complexType>

            <xs:complexType name="getPetByIdRequest">
                <xs:all>
                    <xs:element name="id" type="xs:int"/>
                </xs:all>
            </xs:complexType>

            <xs:complexType name="getPetByNameRequest">
                <xs:all>
                    <xs:element name="name" type="xs:string"/>
                </xs:all>
            </xs:complexType>

            <xs:element name="getPetByIdRequest" type="tns:getPetByIdRequest"/>
            <xs:element name="getPetByIdResponse" type="tns:petType"/>

            <xs:element name="getPetByNameRequest" type="tns:getPetByNameRequest"/>
            <xs:element name="getPetByNameResponse" type="tns:petType"/>

            <xs:element name="getPetFault" type="tns:fault"/>
        </xs:schema>

        <!-- embedded schema -->
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns="urn:com:example:petstore"
                   targetNamespace="urn:com:example:petstore">

            <xs:simpleType name="petBreedName">
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="20"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:complexType name="petBreed">
                <xs:all>
                    <xs:element name="id" type="xs:int"/>

                    <!--
                    Use the 'tns' prefix defined outside the inline schema
                    to test prefix inheritance for inline schemas.
                    -->
                    <xs:element name="name" type="tns:petBreedName"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
    </types>

    <message name="getPetByIdRequest">
        <part element="tns:getPetByIdRequest" name="parameters"/>
    </message>
    <message name="getPetByIdResponse">
        <part element="tns:getPetByIdResponse" name="parameters"/>
    </message>
    <message name="getPetByNameRequest">
        <part element="tns:getPetByNameRequest" name="parameters"/>
    </message>
    <message name="getPetByNameResponse">
        <part element="tns:getPetByNameResponse" name="parameters"/>
    </message>
    <message name="getPetFault">
        <part element="tns:getPetFault" name="parameters"/>
    </message>

    <!-- Abstract port types -->
    <portType name="PetPortType">
        <operation name="getPetById">
            <input message="tns:getPetByIdRequest" name="getPetByIdRequest"/>
            <output message="tns:getPetByIdResponse" name="getPetByIdResponse"/>
            <fault message="tns:getPetFault" name="getPetFault" />
        </operation>
        <operation name="getPetByName">
            <input message="tns:getPetByNameRequest" name="getPetByNameRequest"/>
            <output message="tns:getPetByNameResponse" name="getPetByNameResponse"/>
            <fault message="tns:getPetFault" name="getPetFault" />
        </operation>
    </portType>

    <!-- Concrete Binding Over HTTP -->
    <binding name="HttpBinding" type="tns:PetPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="getPetById">
            <soap12:operation soapAction="getPetById" style="document"/>
            <input name="getPetByIdRequest">
                <soap12:body use="literal"/>
            </input>
            <output name="getPetByIdResponse">
                <soap12:body use="literal"/>
            </output>
            <fault name="getPetFault">
                <soap12:body use="literal"/>
            </fault>
        </operation>
        <operation name="getPetByName">
            <soap12:operation soapAction="getPetByName" style="document"/>
            <input name="getPetByNameRequest">
                <soap12:body use="literal"/>
            </input>
            <output name="getPetByNameResponse">
                <soap12:body use="literal"/>
            </output>
            <fault name="getPetFault">
                <soap12:body use="literal"/>
            </fault>
        </operation>
    </binding>

    <!-- Concrete Binding with SOAP-->
    <binding name="SoapBinding" type="tns:PetPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/soap"/>

        <operation name="getPetById">
            <soap12:operation soapAction="getPetById" style="document"/>
            <input name="getPetByIdRequest">
                <soap12:body use="literal"/>
            </input>
            <output name="getPetByIdResponse">
                <soap12:body use="literal"/>
            </output>
            <fault name="getPetFault">
                <soap12:body use="literal"/>
            </fault>
        </operation>

        <operation name="getPetByName">
            <!-- soap12:operation style omitted - fall back to soap12:binding style -->
            <soap12:operation soapAction="getPetByName"/>
            <input name="getPetByNameRequest">
                <soap12:body use="literal"/>
            </input>
            <output name="getPetByNameResponse">
                <soap12:body use="literal"/>
            </output>
            <fault name="getPetFault">
                <soap12:body use="literal"/>
            </fault>
        </operation>
    </binding>

    <!-- Web Service offering endpoints for both bindings-->
    <service name="PetService">
        <port name="HttpEndpoint" binding="tns:HttpBinding">
            <soap12:address location="http://www.example.com/http/"/>
        </port>
        <port name="SoapEndpoint" binding="tns:SoapBinding">
            <soap12:address location="http://www.example.com/soap/"/>
        </port>
    </service>
</definitions>
